{% extends 'base.html.twig' %}

{% block title %}Edit ListTask{% endblock %}

{% block body %}
    <h1>Import</h1>

    {{ include('list_task/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
