{% extends 'base.html.twig' %}

{% block title %}To-Do list{% endblock %}

{% block body %}

    {% if activeTasks|length>0 %}
        <h3>Search result</h3>
        {% include 'task/table.html.twig' with {
            'tasks': activeTasks,
            'deleteForm': deleteForm,
            'taskDoneForm': taskDoneForm
        } only %}
    {% else %}
        <h3>Not found</h3>
    {% endif %}

{% endblock %}
